<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/stories.css">
</head>

<body>
    {{{body}}}

    <script src='/public/js/form_validate.js'></script>
</body>


</html>