<section>
    <form id="StoryEditor">
        <div>
            <div id="jumplinks" class="fixed">
                Table of Contents
                <ol>
                    {{{jump_links}}}
                </ol>
            </div>
            <div>
                <ol>
                    {{{chapters}}}
                </ol>
            </div>
        </div>
    </form>
</section>