<section>
    <form id="StoryEditor" name="StoryEditor" method="POST" action="/stories/{{reqid}}/edit">
        <label for="Title">Title</label>
        <input id="Title" name="Title" type="text" value={{title}}></Title>
        <label for="Description">Description</label>
        <textarea name="Description" rows="10" cols="10"> </textArea>
        <div>
            <div id="jumplinks" class="fixed">
                Table of Contents
                <ol id="linkList">
                    {{{jump_links}}}
                </ol>
            </div>
            <div>
                <ol id="chapterList">
                    {{{chapters}}}
                </ol>
            </div>
            <button id="addchapter" name="addchapter">Add Chapter</button>
        </div>
        <input type="submit" value="Save story">
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src='/public/js/addchapter.js'></script>
</section>