<section>
    <form id="StoryEditor">
        <label for="Title">Title</label>
        <input id="Title" name="Title" type="text" value={{title}}></Title>
        <div>
            <div id="jumplinks" class="fixed">
                Table of Contents
                <ol>
                    {{{jump_links}}}
                </ol>
            </div>
            <div>
                <ol>
                    {{{chapters}}}
                </ol>
            </div>
        </div>
    </form>
</section>